* {
	box-sizing: border-box;
}

html {
	font-family: omega-sans;
	line-height: 1.5;
}

body {
	background-color: $clr2;
	color: $clr3;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul,
ol,
pre {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	object-fit: cover;
	aspect-ratio: 5 / 3;
}

ul,
ol {
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

a,
button {
	font-family: inherit;
	font-size: 1rem;
	color: inherit;
}