// GRID
.main-layout {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;

    >* {
        grid-column: 2;
    }

    >*.full {
        grid-column: 1 / -1;
    }

    .side-start {
        grid-column: 1 / -2;
    }

    .side-end {
        grid-column: -1 / 2;
    }

    @include for-narrow-layout {
        @include layoutGTC($break-narrow);
    }

    @include for-normal-layout {
        @include layoutGTC($break-normal);
    }

    @include for-wide-layout {
        @include layoutGTC($break-wide);
    }
}

// SIMPLE
// .main-layout>*:not(.full) {

//     @include for-narrow-layout {
//         @include layout($break-narrow);
//     }

//     @include for-normal-layout {
//         @include layout($break-normal);
//     }

//     @include for-wide-layout {
//         @include layout($break-wide);
//     }
// }