@font-face {
    font-family: omega-sans;
    src: url(../../fonts/omega-sans/Omega-Sans-Regular.ttf);
}

@font-face {
    font-family: ailerons;
    src: url(../../fonts/ailerons/Ailerons-Typeface.otf);
}

@font-face {
    font-family: circular-regular;
    src: url(../../fonts/circular/CircularStd-Book.otf);
}

// @font-face {
//     font-family: circular-medium;
//     src: url(../../fonts/circular/CircularStd-Medium.otf);
// }

@font-face {
    font-family: circular-light;
    src: url(../../fonts/circular/CircularStd-Light.otf);
}

@font-face {
    font-family: circular-bold;
    src: url(../../fonts/circular/CircularStd-Bold.otf);
}