
@font-face {
    font-family: omega-sans;
    src: url(../../fonts/omega-sans/Omega-Sans-Regular.ttf);
}

@font-face {
    font-family: ailerons;
    src: url(../../fonts/ailerons/Ailerons-Typeface.otf);
}
